extends auth_layout

block content
  h2 Status #{status}
  p= message

  if correlationId
    p Correlation Id: #{correlationId}

  if (status !== 404)
    p.
      #{i18n.problem_persists}

  if (errorLink && errorLinkDescription)
    p
      a(href=errorLink) #{errorLinkDescription}
    h5 #{i18n.redirect}
    script(type="text/javascript").
      setTimeout(function() {
        window.location = "#{errorLink}"
      }, 5000);
