extends auth_layout

block scripts
    script(type='text/javascript').
        function validateEmail() {
            var email = $('#email').val();
            var emailError = '';
            if (!email)
                emailError = '#{i18n.enter_email_address}';
            else if (!/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email))
                 emailError = '#{i18n.email_invalid}';

            try {
                $('#errorEmail').text(emailError);
            } catch (err) {
                alert('#{i18n.validation_error}');
                return false;
            }
            
            var somethingBad = !!emailError;
            
            return !somethingBad;
        }

block content
    h2 #{i18n.forgot_password}
    
    p #{i18n.please_supply_password}

    h5 #{i18n.description}

    form(role='form' action='#{baseUrl}/#{forgotPasswordUrl}' method='post' onsubmit='return validateEmail();')

        input(type='hidden' name='_csrf' value='#{csrfToken}')
        .form-group
            label(for='email') #{i18n.email_address}:
            input(type='string' name='email' id='email').form-control
            small 
                span(id='errorEmail' style='color:red')

        button(class='btn btn-lg btn-primary btn-block' type='submit') #{i18n.send_email}
