extends auth_layout

block content
    h2 #{i18n.title}
    
    p #{i18n.description1}
    
    h5 #{i18n.description2}

    h5 #{i18n.description3}

    br

    h5
        a(href='#{baseUrl}/#{forgotPasswordUrl}') #{i18n.try_again}
