extends auth_layout

block scripts
    if authUser
        meta(http-equiv="refresh" content="0; url=/")
    script(type='text/javascript').
        function validateLogin() {
            var username = $('#username').val();
            var password = $('#password').val();
            var usernameError = '';
            var passwordError = '';
            if (!username)
                usernameError = '#{i18n.enter_email}';
            //- else if (!/.+@.+/.test(email))
            //-     emailError = 'Email address invalid. ';
            if (!password)
                passwordError = '#{i18n.enter_password}';

            try {
                $('#errorUsername').text(usernameError);
                $('#errorPassword').text(passwordError);
            } catch (err) {
                alert('#{i18n.validation_error}');
                return false;
            }
            
            var somethingBad = !!usernameError
                || !!passwordError;
            
            return !somethingBad;
        }

block content
    h2 #{i18n.log_in}
    
    p #{i18n.welcome_to} #{app_name}.

    if displayRedirectMessage
        h4 #{i18n.redirect_message}

    if errorMessage
        +flashMessage('error', errorMessage)

    form(role='form' action='#{baseUrl}/#{loginUrl}' method='post' onsubmit='return validateLogin();')

        input(type='hidden' name='_csrf' value='#{csrfToken}')

        -var predefUsername = prefillUsername ? prefillUsername : '';

        .form-group
            if !usernamePrompt
                label(for='username') #{i18n.username}:
            else
                label(for='username') #{usernamePrompt}:
            -var usernameFocus = predefUsername ? false : true;
            input(type='string' name='username' id='username' value='#{predefUsername}' autofocus=usernameFocus).form-control
            small 
                span(id='errorUsername' style='color:red')
        .form-group
            if !passwordPrompt
                label(for='password') #{i18n.password}:
            else
                label(for='password') #{passwordPrompt}:

            -var passwordFocus = predefUsername ? true : false;
            input(type='password' name='password' id='password' autofocus=passwordFocus).form-control
            small
                span(id='errorPassword' style='color:red')
        button(class='btn btn-lg btn-primary btn-block' type='submit') #{i18n.login}
    
    br
    
    if forgotPasswordUrl
        h5
            if forgotPasswordUrl.startsWith('http')
                a(href='#{forgotPasswordUrl}') #{i18n.forgot_password}
            else
                a(href='#{baseUrl}/#{forgotPasswordUrl}') #{i18n.forgot_password}
        
    if !disableSignup
        h5
            a(href='#{baseUrl}/#{signupUrl}') #{i18n.create_new_user}
