extends auth_layout

block content
    h2 #{i18n.select_namespace}
    
    p #{i18n.description}

    each namespace, i in namespaces
        form(role='form' action='#{baseUrl}/#{selectNamespaceUrl}' method='post')
            input(type='hidden' name='_csrf' value='#{csrfToken}')
            input(type='hidden' name='namespace' value='#{namespace.namespace}')

            button(class='btn btn-lg btn-primary btn-block' type='submit') #{namespace.description}
        
        br
    
    h5
        a(href='#{baseUrl}/#{logoutUrl}') #{i18n.logout}
