extends auth_layout

block scripts
    script(src='https://www.google.com/recaptcha/api.js')
    script(type='text/javascript').
        function validateSignup() {
            var email = $('#email').val();
            var password = $('#password').val();
            var password2 = $('#password2').val();
            var emailError = '';
            var passwordError = '';
            var password2Error = '';
            if (!email)
                emailError = '#{i18n.email_error}';
            else if (!/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email))
                emailError = '#{i18n.email_invalid}';
            if (!password)
                passwordError = '#{i18n.enter_password}';
            if (!password2)
                password2Error = '#{i18n.repeat_password}';
            if (!password2Error && password !== password2)
                password2Error = '#{i18n.password_mismatch}';
            var regex = new RegExp('#{i18n.password_regex}');
            if (!password
                || !regex.test(password))
                passwordError = '#{i18n.password_rules}';

            try {
                $('#errorEmail').text(emailError);
                $('#errorPassword').text(passwordError);
                $('#errorPassword2').text(password2Error);
            } catch (err) {
                alert('#{i18n.validation_error}');
                return false;
            }
            
            var somethingBad = !!emailError
                || !!passwordError
                || !!password2Error;
            
            return !somethingBad;
        }

block content
    h2 #{i18n.signup}
    
    p #{i18n.welcome_to} #{title}.

    if displayRedirectMessage
        h4 #{i18n.redirect_message}

    h4.
        By signing up to this portal, you agree to our <a target='_blank' href='#{portalUrl}content/terms-and-conditions'>Terms
        and Conditions</a> and the <a target='_blank' href='#{portalUrl}content/privacy-policy'>Privacy/Cookie Policy</a>.

    if errorMessage
        +flashMessage('error', errorMessage)

    form(role='form' action='#{baseUrl}/#{signupUrl}' method='post' onsubmit='return validateSignup();')

        input(type='hidden' name='_csrf' value='#{csrfToken}')

        .form-group
            label(for='email') #{i18n.username}:
            input(type='string' name='email' id='email').form-control
            small 
                span(id='errorEmail' style='color:red')
        .form-group
            label(for='password') #{i18n.password}:
            input(type='password' name='password' id='password').form-control
            small
                span(id='errorPassword' style='color:red')
        .form-group
            label(for='password2') #{i18n.password_repeat}:
            input(type='password' name='password2' id='password2').form-control
            small
                span(id='errorPassword2' style='color:red')
        if recaptcha && recaptcha.useRecaptcha
            div(class='g-recaptcha' data-sitekey='#{recaptcha.websiteKey}')
            br
        button(class='btn btn-lg btn-primary btn-block' type='submit') #{i18n.signup}
    
    if authorizeUrl
        h5
            a(href='#{baseUrl}/#{authorizeUrl}') #{i18n.login_existing}
    h5
        a(href='#{baseUrl}/#{forgotPasswordUrl}') #{i18n.forgot_password}
