extends auth_layout

block scripts
    script(src='https://www.google.com/recaptcha/api.js')
    script(type='text/javascript').
        function validatePassword() {
            var password = $('#password').val();
            var password2 = $('#password2').val();
            var passwordError = '';
            var password2Error = '';
            if (!password)
                passwordError = '#{i18n.enter_password}';
            if (!password2)
                password2Error = '#{i18n.repeat_password}';
            if (!password2Error && password !== password2)
                password2Error = '#{i18n.passwords_dont_match}';
            var regex = new RegExp('#{i18n.password_regex}');
            if (!regex.test(password))
                passwordError = '#{i18n.password_rules}';

            try {
                $('#errorPassword').text(passwordError);
                $('#errorPassword2').text(password2Error);
            } catch (err) {
                alert('#{i18n.validation_error}');
                return false;
            }
            
            var somethingBad = !!passwordError
                || !!password2Error;
            
            return !somethingBad;
        }


block content
    h2 #{i18n.title}
    
    p #{i18n.description}

    form(role='form' action='#{baseUrl}/#{verifyPostUrl}' method='post' onsubmit='return validatePassword();')

        input(type='hidden' name='_csrf' value='#{csrfToken}')
        input(type='hidden' name='verification_id' value='#{id}')
        input(type='hidden' name='type' value='lostpassword')

        .form-group
            label(for='password') #{i18n.password}:
            input(type='password' name='password' id='password').form-control
            small
                span(id='errorPassword' style='color:red')
        .form-group
            label(for='password2') #{i18n.password_repeat}:
            input(type='password' name='password2' id='password2').form-control
            small
                span(id='errorPassword2' style='color:red')
        if recaptcha && recaptcha.useRecaptcha
            div(class='g-recaptcha' data-sitekey='#{recaptcha.websiteKey}')
            br

        button(class='btn btn-lg btn-primary btn-block' type='submit') #{i18n.change_password}
