.row
  .col-md-2 &nbsp;
  .col-md-8
    p.
      Your privacy is important to #{glob.company}. This privacy statement provides information about the personal information that #{glob.company} collects, and the ways in which #{glob.company} uses that personal information.

    h3 Credit

    p.
      This document was created using a Contractology template available at http://www.freenetlaw.com.

    h3 Privacy Policy

    h4 Personal information collection

    p.
      #{glob.company} may collect and use the following kinds of personal information: 

    ul
      li information about your use of this website; 
      li information that you provide using for the purpose of registering with the website;
      li information about transactions carried out over this website; 
      li information that you provide for the purpose of subscribing to the website services; and
      li any other information that you send to #{glob.company}.

    h4 Using personal information

    p.
      #{glob.company} may use your personal information to: 

    ul
      li administer this website;
      li personalize the website for you;
      li enable your access to and use of the website services;
      li supply to you services that you subscribe to.
      li send you marketing communications.

    p.
      Where #{glob.company} discloses your personal information to its agents or sub-contractors for these purposes, the agent or sub-contractor in question will be obligated to use that personal information in accordance with the terms of this privacy statement. 

    p.
      In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, #{glob.company} may disclose your personal information to the extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.

    h4 Securing your data

    p.
      #{glob.company} will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information. 

    p.
      #{glob.company} will store all the personal information you provide on its secure servers. 

    p.
      Information relating to electronic transactions entered into via this website will be  protected by encryption technology.

    h4 Cross-border data transfers

    p.
      Information that #{glob.company} collects may be stored and processed in and transferred between any of the countries in which #{glob.company} operates to enable the use of the information in accordance with this privacy policy.

    p.
      You agree to such cross-border transfers of personal information.

    h4 Updating this statement

    p.
      #{glob.company} may update this privacy policy by posting a new version on this website.  

    p.
      You should check this page occasionally to ensure you are familiar with any changes.  

    h4 Other websites

    p.
      This website contains links to other websites.  

    p.
      #{glob.company} is not responsible for the privacy policies or practices of any third party.


    h3 Cookie Policy

    h4 About cookies

    p.
      This website uses cookies.  By using this website and agreeing to this policy, you consent to #{glob.company}'s use of cookies in accordance with the terms of this policy.

    p.
      Cookies are files sent by web servers to web browsers, and stored by the web browsers. 

    p.
      The information is then sent back to the server each time the browser requests a page from the server.  This enables a web server to identify and track web browsers. 

    p.
      There are two main kinds of cookies: session cookies and persistent cookies. Session cookies are deleted from your computer when you close your browser, whereas persistent cookies remain stored on your computer until deleted, or until they reach their expiry date.

    h4 Cookies on our website

    p.
      #{glob.company} uses the following cookies on this website, for the following purposes:

    ul
      li Storing your session data, such as your identity,
      li Gathering anonymous information on usage of the website

    h4 Google cookies

    p.
      #{glob.company} uses Google Analytics to analyse the use of this website.  Google Analytics generates statistical and other information about website use by means of cookies, which are stored on users' computers.  The information generated relating to our website is used to create reports about the use of the website. Google will store and use this information.  Google's privacy policy is available at: http://www.google.com/privacypolicy.html.

    h4 Refusing cookies

    p.
      Most browsers allow you to refuse to accept cookies.  

    p.
      In Internet Explorer, you can refuse all cookies by clicking “Tools”, “Internet Options”, “Privacy”, and selecting “Block all cookies” using the sliding selector.  

    p.
      In Firefox, you can adjust your cookies settings by clicking “Tools”, “Options” and “Privacy”.

    p.
      Blocking cookies will have a negative impact upon the usability of some websites.
