extends help_layout

block help_content
  +helpItem('introduction', 'Introduction')

  -var apiUrl = `${glob.network.schema}://${glob.network.apiHost}`
  -var authUrl = `${apiUrl}/auth/`

  p.
    The Resource Owner Password Grant is the third OAuth2 flow which uses end user identities. In this
    case, the method of establishing a user identity within the Authorization Server is given in the
    name of the flow: By using a username and password.

  +important()
    p.
      <b>Important:</b> The Resource Owner Password Grant is being strongly adviced against,
      as it is not addressing the main advantage of the OAuth2 framework - that the application which needs
      the authorization should never see username and password of the authenticated user. In most situations,
      it is recommended to use the <a href="oauth2_authorization_code">Authorization Code Grant</a>
      with the PKCE extension (mandatory in case you have a public client, such as a mobile application or an SPA).

  p.
    As stated above, the Resource Owner Password Grant is not recommended for many use cases; but it can be a
    useful flow for certain special cases of integrations.

  p.
    Wicked supports the Resource Owner Password Grant only for Authentication Methods which use the
    local email and password database of wicked itself, or for authentication methods which consult an external
    service for verification of username and password. It is (currently) not possible to use any
    other authentication method with this flow, as most other identity providers do not support this
    either. Mostly out of security reasons (to prevent brute force email/password checking). Check the
    supported Authentication methods on each API for more information.

  p.
    The Resource Owner Password Grant can be used both with <a href="client_types">confidential and public clients</a>, i.e.
    applications which can, or cannot, keep a client secret in the application. Public clients
    applications are single page applications, or in the case of this Grant, usually Mobile Clients.
    <b>Once more:</b> This is not a recommended use case for Mobile Clients anymore; please use the
    <a href="oauth2_authorization_code">Authorization Code Grant with the PKCE extension</a>.

  p.
    <b>IMPORTANT:</b> Currently, only <a href="/help/trusted">trusted subscriptions</a> can use the Resource Owner Password Grant.
    When creating a subscription, tick the "Trusted" check box to create such a subscription. Please note
    that trusted subscriptions <b>always</b> require approval by either an Administrator or an Approver.

  p.
    Trying to use the Resource Owner Password Grant with a non-trusted subscription/application will
    result in an error message from the Authorization Server.

  +helpItem('getting_access_token', 'Getting an Access Token')

  p.
    To get an access token for this grant, the client application must first collect username (email)
    and password of the end user, using the application's own UI. This Grant, as seen from the API
    Management perspective, is headless.

  p.
    For confidential clients (which are defined as such in the API Portal), the call, in curl syntax,
    has to be done in the following way:
  
  pre.
    curl -X POST -d 'grant_type=password&amp;client_id=<b style="color:#0a0">(your client id)</b>&amp;client_secret=<b style="color:#0a0">(your client secret)</b>&amp;username=<b style="color:#0a0">(user email)</b>&amp;password=<b style="color:#0a0">(password)</b>' #{authUrl}<b style="color:#0a0">(auth method id)</b>/api/<b style="color:#0a0">(api id)</b>/token

  p.
    Public clients <b>must not</b> present their client secret, so the request looks a little different:

  pre.
    curl -X POST -d 'grant_type=password&amp;client_id=<b style="color:#0a0">(your client id)</b>&amp;username=<b style="color:#0a0">(user email)</b>&amp;password<b style="color:#0a0">(password)</b>' #{authUrl}<b style="color:#0a0">(auth method id)</b>/api/<b style="color:#0a0">(api id)</b>/token

  p.
    <b>IMPORTANT:</b> As this flow only works with trusted applications, there is no need to pass in the <code>scope</code>
    parameter to the request. The Authorization Server will always return a token which is valid for the <b>full scope</b>
    of the API, disregarding what the application is requesting.

  p.
    The reason behind this is that there is no means of requesting user consent when accessing the API; either
    the application is allowed to fully access the API on behalf of the user, or not at all.

  p.
    If the Authorization Server can successfully verify the user/email/password combination and the client credentials,
    it will craft an access token and a refresh token:

  pre.
    {
      "access_token": "<b style="color:#0a0">(access token)</b>",
      "refresh_token": "<b style="color:#0a0">(refresh token)</b>",
      "token_type": "bearer",
      "expires_in": 3600
    }

  p.
    The token expiration depends on the API configuration and can vary between APIs.

  +helpItem('accessing', 'Accessing the API')

  p.
    With the returned access token, you may now access the API using the token as a bearer token:

  pre.
    curl -H 'Authorization: Bearer <b style="color:#0a0">(access token)</b>' #{apiUrl}/<b style="color:#0a0">(api endpoint)</b>

  p.
    The actual API endpoint is also displayed on the API's page.

  +helpItem('refresh', 'Refreshing the Access Token')

  p.
    Your application can refresh the access token using a specific call to the same <code>/token</code> end point
    as before. Using curl syntax, the call will look like this (for confidential clients):

  pre.
    curl -X POST -H 'Content-Type: application/json' -d '{"grant_type":"refresh_token","client_id":"<b style="color:#0a0">(your client id)</b>","client_secret":"<b style="color:#0a0">(your client secret)</b>","refresh_token":"<b style="color:#0a0">(refresh token)</b>"}' #{authUrl}<b style="color:#0a0">(auth method id)</b>/api/<b style="color:#0a0">(api id)</b>/token

  p.
    As above, public clients (non-confidential clients) <b>must not</b> present their client secret when refreshing the token:

  pre.
    curl -X POST -H 'Content-Type: application/json' -d '{"grant_type":"refresh_token","client_id":"<b style="color:#0a0">(your client id)</b>","refresh_token":"<b style="color:#0a0">(refresh token)</b>"}' #{authUrl}<b style="color:#0a0">(auth method id)</b>/api/<b style="color:#0a0">(api id)</b>/token

  p.
    If successful, the Authorization Server will return a new access token and a new refresh token.

  p.
    <b>Important:</b> After refreshing the access token using the refresh token, the refresh token which was
    used for this, is <b>no longer valid</b>. You must then use the new refresh token.
