extends help_layout

block help_content
  +helpItem('introduction', 'Introduction')

  -var apiUrl = `${glob.network.schema}://${glob.network.apiHost}`
  -var authUrl = `${apiUrl}/auth/`

  p.
    The OAuth2 Implicit Grant flow is a simplified version of the Authorization Code Grant.
    The flow also implies the use of a user agent, and usually the implicit grant is used for
    <a href="client_types#public_spa">public applications/clients</a>, i.e. applications which 
    cannot be trusted with a client secret.

  +important()
    p.
      <b>Important:</b> The Implicit Grant is considered deprecated by the IETF; it is recommended
      against implementing new applications using this flow, even though there are no new threats
      known against it. The <a href="oauth2_authorization_code">Authorization Code Grant</a> with the
      <a href="https://tools.ietf.org/html/rfc7636" target="_blank">PKCE Extension</a> is the recommended
      way. Wicked also supports this, but will keep the Implicit Grant for backwards compatibility.

  p.
    Typical examples of such applications can be single page applications which do not have a
    server part but only uses stateless APIs to communicate with some backend.

  p.
    In a short overview, the flow works like this:
  
  ol
    li.
      The application which needs access to the API redirects the user (the user's user agent,
      usually a web browser) to the authorization server, stating that it wants a token back
    li.
      The Authorization Server verifies the end user's identity (over some suitable means), verifies
      the client ID and redirect URI, and then immediately issues a token.
    li.
      The token is now passed back to the calling application <b>as a fragment</b> (using a <code>#</code> hash).
      Fragments are not passed on to the backend service (which can be a static web server) but is only kept
      client side.
    li.
      The client application can now use the access token to access the API on behalf of the end user.

  +helpItem('getting_access_token', 'Getting an Access Token')

  p.
    The calling application must redirect to the correct Authorization Server <code>/authorize</code> end point.
    The URL of this endpoint depends on the authentication method, and on the API. The URL is displayed
    for each supported Authentication Method at the top of each API page.

  pre.
    #{authUrl}<b style="color:#0a0">(auth method id)</b>/api/<b style="color:#0a0">(api id)</b>/authorize?client_id=<b style="color:#0a0">(your client id)</b>&amp;redirect_uri=<b style="color:#0a0">(redirect URI of your application)</b>&amp;response_type=token&amp;scope=<b style="color:#0a0">(space separated list of scopes)</b>

  p.
    All parameteters except the scope (depending on the API) are mandatory. The correct URL for valid combinations
    of API and Authentication Method can be seen on the API page.

  p.
    Note the use of <code>response_type=token</code>, as opposed to <code>response_type=code</code> for the Authorization Code Grant.

  p.
    The Authorization Server will now verify the user's identity, and also check whether the application is either
    implicitly (because it is a <a href="/help/trusted">trusted application/subscription</a>), or explicitly
    allowed to access the API on behalf of the user. In case the user has not yet consented to the application accessing
    the API on behalf of the user, wicked will ask the user to grant access to the application, so that it can access
    the API on behalf of the user.

  p.
    If the end user's identity can be verified, and the client ID and redirect URI are correct, the Authorization
    Server will immediately create an access token which is passed back to the calling application in a redirect
    of the user agent:

  pre.
    https://app.yourcompany.com/#access_token=<b style="color:#0a0">(access token)</b>&amp;expires_in=3600&amp;token_type=bearer

  p.
    Note that this flow does not give the application a refresh token back. The token expiration depends on the API
    configuration and can vary between APIs.

  +helpItem('accessing', 'Accessing the API')

  p.
    With the returned access token, you may now access the API using the token as a bearer token:

  pre.
    curl -H 'Authorization: Bearer <b style="color:#0a0">(access token)</b>' #{apiUrl}/<b style="color:#0a0">(api endpoint)</b>

  p.
    The actual API endpoint is also displayed on the API's page.

  +helpItem('refreshing_tokens', 'Refreshing the Access Token')

  p.
    As already described, the implicit grant does not return a refresh token to the calling application. It is still
    possible to renew the access token under certain circumstances:

  ul
    li.
      The user agent supports hidden <code>iframe</code>s
    li.
      The user agent still has a session with the Authorization Server

  p.
    By calling the same authorization end point again, but with an additional parameter <code>&amp;prompt=none</code>,
    the Authorization Server will try to perform a headless authorization for the client application, and immediately
    return a new access token via <code>302</code> redirect:

  pre.
    #{authUrl}<b style="color:#0a0">(auth method id)</b>/api/<b style="color:#0a0">(api id)</b>/authorize?client_id=<b style="color:#0a0">(your client id)</b>&amp;redirect_uri=<b style="color:#0a0">(redirect URI of your application)</b>&amp;response_type=token&amp;scope=<b style="color:#0a0">(space separated list of scopes)</b><b style="color:#a00">&amp;prompt=none</b>

  p.
    By letting this run in a hidden <code>iframe</code>, the renewal of the access token can be done without the end
    user actually noticing.