extends help_layout

block help_content
  +helpItem('introduction', 'Introduction')

  -var apiUrl = `${glob.network.schema}://${glob.network.apiHost}`
  -var authUrl = `${apiUrl}/auth/`

  p.
    The OAuth2 Client Credentials Flow is intended for machine to machine communication. The "client credentials"
    authenticate the application which tries to access the API, but there is no notion of an end user context
    with the calls. The API which is being called only will know for sure which the application is, but not
    necessarily on behalf of which end user the call is done.

  p.
    Only <a href="client_types#confidential">Confidential Clients</a> can use the Client Credential flow. If you
    try to get an access token using a public client, wicked's Authorization Server will refuse this.

  +helpItem('getting_a_token', 'Getting an access token')

  p.
    The token endpoint which is needed to get an access token for an API which is secured via client credentials
    is different from API to API, so insert the correct auth method ID, API ID, client ID, client Secret and scope in the following URL:

  pre.
    curl -X POST -d 'grant_type=client_credentials&amp;client_id=<b style="color:#0a0">(your client id)</b>&amp;client_secret=<b style="color:#0a0">(your client secret)</b>&amp;scope=<b style="color:#0a0">(space separated list)</b>' #{authUrl}<b style="color:#0a0">(auth method id)</b>/api/<b style="color:#0a0">(api id)</b>/token

  p.
    The token endpoint per API and auth method is always displayed on the top of each API page.

  p.
    The <code>scope</code> parameter is optional (depending on the API you need to access), and can contain a space separated (and URI encoded) list
    of API scopes for which the access token shall be created.

  p.
    If successful, the Authorization Server will return an access token:

  pre.
    {
      "access_token": "<b style="color:#0a0">(access token)</b>",
      "token_type": "bearer",
      "expires_in": 3600
    }

  p.
    Please note the absence of a refresh token. This concept is not supported with the client credentials flow.
    If the access token has expired, request a new access token using the same kind of request as initially.

  +helpItem('accessing', 'Accessing the API')

  p.
    With the returned access token, you may now access the API using the token as a bearer token:

  pre.
    curl -H 'Authorization: Bearer <b style="color:#0a0">(access token)</b>' #{apiUrl}/<b style="color:#0a0">(api endpoint)</b>

  p.
    The actual API endpoint is also displayed on the API's page.
